<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nouvelle Demande de Partenariat</title>
</head>

<body>
    <h2>Nouvelle Demande de Partenariat {{ partenariat}}</h2>

    <p>Bonjour,</p>

    <p>Vous avez reçu une nouvelle demande de partenariat :</p>

    <ul>
        <li><strong>Nom: </strong> {{ name }}</li>
        <li><strong>Email: </strong> {{ email }}</li>
        <li><strong>Message: </strong> {{ message }}</li>
    </ul>


    <p>Cordialement,<br>
        L'équipe de Melkart Junior Entreprise</p>
</body>

</html>